/* цвет меню текаста , h2, банеера и подвала #2E2F42; */
/* цвет адреса, текста серый, #434455; */
/* вторичный цвет фона #F4F4FD */
/* лого Веб и кнопки синий #4D5AE5; */
/* цвет h1 белый #FFFFFF;  */
/* в подвале текст #E7E9FC; */


/* сделал палитру цветов - использывать через var */
:root{
  --primary-text-color:#2e2f42;
  --title-text-color:#434455;
  --accent-color:#F4F4FD;
  --logo-color:#4D5AE5;;
  --white-color:#FFFFFF;
  --footer-color:#E7E9FC;
}

.page-header{
  width: 1440px;
  background-color: var(--white-color);
  border-bottom: 1px solid #E7E9FC ;
  margin-left: auto;
  margin-right: auto;
 
  


}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 1158px;

  outline: 2px solid red;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family:'Roboto';
  font-size: 16px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0%;
  list-style: none; /* оформление свойство ul без класа отменили */
}

/* Header Menu */
.menu-nav,
.menu-nav nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

/* лого 2-я часть */
.logo {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);

  /* margin-left: 156px; */
  margin-right: 72px;
}

/*лого 1 часть */
.web{
  color:var(--logo-color) ;
}


/* сделали невидимым текст класа*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* menu */
.menu{
  display: flex;
}

.menu .item {
  margin-right: 40px;
}

.menu-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;  
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-link:hover,.menu-link:focus{
color:var(--logo-color);
}
.menu-current {
  color:var(--logo-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.current:focus{
  color:var(--logo-color);
  }


  .address {
    display: flex;
   }

  .address-herf{
      margin-right: 40px;
   }

    /* .address-tel{
      margin-right: 156px;
    } */


  .address a{
    color: var(--title-text-color);
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
  }
  .address a:hover,.address a:focus{
    color:var(--logo-color);
    }
    
    


 /* hero */
  .hero{
    
    background-color:var(--primary-text-color);
    margin-bottom: 120px;
    text-align: center;

    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  
  }

  .hero-title{
    padding-top: 188px;
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
  }

  .hero-button{
    color:var(--white-color);
    background-color: var(--logo-color);
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color:var(--white-color);
    margin-bottom: 188px;
  }

  /* section */

   .advantages{
 display: block;
  display: flex;
  padding: 0;
  margin: 0; 
  

  text-align: left;
  } 

  .advantages .item{
    margin-right: 24px;
  }

  .advantages .item:last-child{
    margin-right: 0;
  }

  
  .section-title, .centr{
    text-align: center;
  }
 
  .section2 .section-text +.section-text{
    margin-left: 0px;
  }

  .section-title, .centr, 
  .indent{
    margin-top: 120px;
    margin-bottom: 72px;
   }

.section-subtitle{
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-text{
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  display: block;

}


.section-laptop{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-left: 12px;
}

.section-smartphone{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.section-technique{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-right: 12px;
}

.technique{
  display: flex;
  align-items: center;
  /* justify-content: space-between;  */
}

.technique .item{
  margin-right: 24px;
}

.tim, 
.item .photo-tim {
  display: flex;
  text-align: center;
}

.tim .item{
  margin-right: 24px;
  margin-bottom: 120px;
}


.mark{
  margin-left: 156px;
}

.Daniel{
  margin-right: 156px;
}


.section-tim{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
  color: var(--title-text-color);
  background-color:#F4F4FD ;

}

.centr-tim{
  padding-top: 120px;
  
}

.photo-tim {
  background:var(--white-color);
  box-shadow: 0px 1px 6px;
}


.logo1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;

  margin-left: 156px;
  margin-bottom: 16px;
}


.footer{
  width: 1440px;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  left: 0px;
  top: 2280px;
  background:var(--primary-text-color);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.footer2{
  width: 1440px;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  left: 0px;
  top: 2280px;
  background:var(--primary-text-color);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

  margin-top: 120px;
}

.footer-text{
  margin-bottom: 16px;
  line-height: 1.05;
  letter-spacing: 0.02em;
  color: #E7E9FC;

  margin-left: 156px;
}

.inner{
  display: flex;

  padding-top: 96px;
  padding-bottom: 72px;
}

.inner .item{
  margin-right: 24px;
}

.all{
  margin-left: 271px;
}


.button-filter {
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  background:var(--accent-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--logo-color);
  font-style: normal;
  font-weight: 500;
  
}

.button-filter:hover,.button-filter:focus{
  color:var(--white-color);
  text-decoration: underline;
  text-decoration-color: var(--logo-color); 
  border-color:var(--primary-text-color);
  background-color:var(--logo-color);
  }


  .container .device{
    display: flex;
    text-align: center;
  }

  .device .item{
    margin-right: 24px;
    margin-left: 7px;
  }

  .device .item:last-child{
    margin-right: 0;
  }